.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .7rem;
    padding-bottom: .8rem;
    padding-top: .8rem;
}

.formedit {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-btn {
    background-color: rgb(94, 186, 94);
}

.edit-btn:hover {
    background-color: rgb(73, 142, 73);
}

.accordion-item {
    padding-bottom: 1rem;
}

.accordion-title {
    background-color: rgb(175, 175, 175);
}
.accordion-title:hover {
    background-color: rgb(134, 134, 134);
}