.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.7rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}

.formedit {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit-btn {
  background-color: rgb(94, 186, 94);
}

.edit-btn:hover {
  background-color: rgb(73, 142, 73);
}

.accordion-item {
  padding-bottom: 1rem;
}

.accordion-title {
  background-color: rgb(68, 106, 183);
  display: flex;
  justify-content: space-between;
  align-items: center;
width: 100%;
}
.accordion-title:hover {
  background-color: rgb(79, 117, 184);
}

.icon {
  font-size: large;
}

.btn-txt {
  flex-grow: 1;
  text-align: center;
}

.icons {
  text-align: right;
}
